<!DOCTYPE html>
<html lang="pl=PL">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <a href="/" class="back-to-index-page">Return</a>
    <section class=auth-form>
        <div class="inner-container signup-form admin-container">
            <div class="admin-header">
                <h2>Hello <%= userName %> </%=>
                </h2>
                <h3>Users in our database:</h3>
            </div>
            <div class="user-List">
                <ul>
                    <% for (let i = 0; i < userList.length; i++) { %>
                    <li> <%= userList[i].name %> </%=>
                        <form action="/user/<%= userList[i]._id %>?_method=PUT" method="POST">
                            <input type="text" id="name" name="name" placeholder="name" />
                            <button type="submit" class="btn-user">Edit</button>
                        </form>
                        <% if (`${userList[i]._id}` !== userId) { %>
                            <form action="/user/<%= userList[i]._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn-user">Remove</button>
                            </form>
                       <% } %>
                    <% } %>
                </ul>
            </div>
            <a href="/logout"><button>Log out</button></a>
        </div>
        </div>
    </section>
</body>

</html>